@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
  font-family: poppins;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personal__container,.signup__container,.other__info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: fit-content;
  box-shadow: 0px 0px 10px rgb(0, 0, 0,.14);
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 200px;
  text-align: left;
}
input{
  width: 300px;
  margin: .5rem;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  padding: 1rem;
}
.header h2{
  text-align: center;
}

.progressbar{
  background-color: white;
  height: 10px;
  width: 300px;
  margin: auto;
  border: .1px solid black;
}
.progress{
  background-color: green;
  height: 10px;
  width: 300px;

}